@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@700&family=Cinzel:wght@500&display=swap');

body{
    margin: 0;
    padding: 1rem;

}
.header{
    color: rgb(47, 123, 221);
    font-family: 'Cinzel', serif;
    font-size: 3rem;
}

hr{
    background: rgb(47, 123, 221);
    height: 3px;
    margin: 0 4rem;
    
}

.container{
    text-align: center;
}
.content{
    padding: 1rem;
    font-family: 'Arima Madurai', cursive;
    font-size: large;

}

.midHead{
    color: orangered;
    font-size: xx-large;
}
.smallify{
    font-size: small;
}
.pepesi1{
    max-width: 65vw;
    padding: 1rem;
}
.pepe2, .shippu{
    max-height: 70vw;
    display: block;
    margin: auto;
    padding: 2rem;
}


.footer{
    text-align: center;
}
.footer ul{
    padding-inline-start: 0px;
    color:white;
    
}

.list-non-bullet{
    list-style: none;
}
.list-item-inline{
    display: inline;
    padding: 1rem;
}