@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@700&family=Cinzel:wght@500&display=swap');

@media all and (min-width:0px) and (max-width: 960px) {
    body {
        margin: 0 auto;
        max-width: 80vw;
        background-image: url("/Images/planks.jpg");
        background-size: cover;

    }

    .scroll {
        background-color: white;
        height: 40rem;
        overflow-y: auto;
        padding: 1.5rem;
    }

    .header {
        color: rgb(47, 123, 221);
        font-family: 'Cinzel', serif;
        font-size: 3rem;
        text-align: center;
    }

    /* mini header, my details */
    .splitscreen {
        display: flex;
        justify-content: space-between;

        text-align: center;
        color: rgb(0, 0, 0);

    }

    .splitscreen .left {
        flex: 0;
    }

    .splitscreen .right {
        flex: 1;


    }

    .my-co {
        max-height: 35px;
        border-radius: 2.3rem;
        margin-left: 1rem;
    }

    .mini-ico {
        max-width: 30px;
        margin-left: 1rem;
    }

    .my-name {
        margin-left: 0.8rem;
        text-align: center;
        font-size: small;
        font-weight: bold;
    }

    .date {
        margin-top: 0.2rem;
        font-size: smaller;
        display: none;
        font-weight: bold;
    }

    /* mini header end */


    hr {
        background: rgb(47, 123, 221);
        height: 3px;
        margin: 0 2rem;

    }

    .footer {
        border-bottom-right-radius: 1.5rem;
    }
}


@media all and (min-width:960px) {
    body {
        margin: 0 auto;
        max-width: 70vw;
        padding: 1rem;
        background-image: url("/Images/bg.jpg");
        background-size: cover;

    }

    .scroll {
        background-color: white;
        height: 70vw;
        overflow-y: auto;
        padding: 1.5rem;
    }

    .header {
        color: rgb(47, 123, 221);
        font-family: 'Cinzel', serif;
        font-size: 3rem;
        text-align: center;
    }
    .splitscreen {
        display: flex;
        justify-content: space-between;
        text-align: right;
        color: rgb(0, 0, 0);

    }

    .splitscreen .left {
        flex: 0;
    }

    .splitscreen .right {
        flex: 1;
        margin-right: 4rem;

    }

    .my-co {
        max-height: 40px;
        margin-left: 5rem;
        border-radius: 2.3rem;
    }

    .mini-ico {
        max-width: 40px;
        margin-left: 1rem;
    }

    .my-name {
        margin-left: 0.8rem;
        text-align: center;
        font-size: small;
        font-weight: bold;
    }

    .date {
        margin-top: 0.2rem;
        font-size: smaller;
        margin-left: 1rem;
        font-weight: bold;
    }

    hr {
        background: rgb(47, 123, 221);
        height: 3px;
        margin: 0 4rem;

    }


}

a{
    text-decoration: none;
    color: black;
}

h1,
h2 {
    padding: 1rem;
}

.container {
    text-align: center;
}

.content {
    padding: 1rem;
    font-family: 'Arima Madurai', cursive;
    font-size: large;

}

.midHead {
    color: orangered;
    font-size: xx-large;
}
.smolHead{
    color: rgb(218, 171, 40);
    font-weight: bold;
}
.smallify {
    font-size: small;
}

.catto {
    max-width: 65vw;
    padding: 1rem 0;
    display: block;
    margin: auto;
}

.theMan {
    max-width: 70vw;
    display: block;
    margin: auto;
    padding: 2rem 0;
}


.footer {
    text-align: center;
    background-color: white;
    
}

.footer-header {
    font-size: large;
    font-weight: bold;
    color:rgb(47, 123, 221);
}
.footer ul {
    padding-inline-start: 0px;
    color: white;

}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 1rem 2rem;
}


.quote {
    font-size: x-large;
    color: rgb(63, 92, 218);
    text-align: center;
    display: block;
}