@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,700&display=swap');
:root{
    --prim-color:gray;

}
body{
    font-family: 'Besley', serif;
}

.container{
    padding:0 1rem 0 1rem;
}
.container-center{
    margin:auto;
    max-width: 600px;
}
hr{
    margin: 2rem 0;
}
                    /**   Links   **/
.link{
    text-decoration: none;
    font-weight: 400;
    padding: 0 0.5rem 0 1rem;
}
.link-primary{
    color:white;
    background-color: gray;
    border-radius: 8px; 
}
.link-secondary{
    border-color: gray;
    border: 1px solid;
    border-radius: 8px;
}
                    /**   Lists    **/
.list-non-bullet{
    list-style: none;
}
.list-item-inline{
    display: inline;
}

                /**     Navigation      **/
.navigation{
    background-color: var(--prim-color);
    color:white;
    padding: 1rem;
    border-bottom-left-radius: 2rem;
    
}
.nav-brand{
    font-weight: bold;
    font-size: large;
}
.navigation .link{
    color:white;
}

.nav-pills{
    text-align: right;
    
}

.navigation .link-active{
    font-weight: bold;
    font-size: large;
}