@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,700&display=swap');
:root{
    --prim-color:#6B7280;
    --off-white:#D1D5DB;

}
body{
    font-family: 'Besley', serif;
    margin: 0px;
}

.container{
    padding:0 1rem 0 1rem;
}
.container-center{
    margin:auto;
    max-width: 600px;
}
hr{
    margin: 2rem 0;
}
                    /**   Links   **/
.link{
    text-decoration: none;
    font-weight: 400;
    padding: 0 0.5rem 0 1rem;
    color:white;
}
.link-primary{
    
    background-color: gray;
    border-radius: 8px; 
}
.link-secondary{
    border-color: gray;
    border: 1px solid;
    border-radius: 8px;
    color:black;
}
.a :visited{
    color: red;
}



                    /**   Lists    **/
.list-non-bullet{
    list-style: none;
}
.list-item-inline{
    display: inline;
}

                /**     Navigation      **/
.navigation{
    background-color: var(--prim-color);
    color:white;
    padding: 1rem;
    border-bottom-left-radius: 2rem;
    
}
.nav-brand{
    font-weight: bold;
    font-size: large;
}
.navigation .link{
    color:white;
}

.nav-pills{
    text-align: right;
    
}

.navigation .link-active{
    font-weight: bold;
    font-size: large;
}

                     /**   Header  **/

.hero{
    padding: 2rem;
    text-align: center;
}
.hero-img{
    max-width: 450px;
    display: block;
    margin: auto;
}
.hero .hero-heading{
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 1rem;
}
.hero .hero-heading .heading-inverted{
    color: var(--prim-color);
}

                     /**   Section  **/

.section{
    padding: 1rem;

}
.section h1{
    text-align: center;
    padding: 1rem;
}
.ow{
    
    background-color: var(--off-white);
    display: block;
    max-width: 550px;
    margin: auto;
}

                     /**   Footer  **/

.footer{
    background-color: var(--prim-color);
    padding: 2rem;
    text-align: center;
    color: white;
    border-radius: 25px 0;
}

.footer ul{
    padding-inline-start: 0px;
    color:white;
}

.footer-header{
    font-size: larger;
}