@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,700&display=swap');

body{
    font-family: 'Besley', serif;
}

.container{
    padding:0 1rem 0 1rem;
}
.container-center{
    margin:auto;
    max-width: 600px;
}