<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link href="/Css/styles.css" rel="stylesheet" />
</head>
<body>

    <nav class="navigation container">
        <div class="nav-brand">I am a Developer!</div>
        <ul class="list-non-bullet nav-pills">
            <li class="list-item-inline">
                <a class="link" href="/index.html">Home</a>
            </li>
            <li class="list-item-inline">
                <a class="link link-active" href="Projects.html">Projects</a>
            </li>
            <li class="list-item-inline">
                <a class="link" href="Blogs.html">Blogs</a>
            </li>
        </ul>
    </nav>




    <header class="hero">
        <img class="hero-img" src="/Images/Projects.svg" />
        <h1 class="hero-heading">A list of <span class="heading-inverted">My Projects</span></h1>
    </header>

    <!-- Fifth project -->

    <section>
        <div class="container container-center padding-md">
            <h1>Emoji Interpretor!</h1>
                <small>September 2021</small>
                
                <p>Did you ever see an emoji and feel out of the loop?
                    "Damn, what is that? what could it possibly mean?"
                    Fear no more, We...will try our best, to have your back!
                </p>

                <a href="https://csb-grij4.netlify.app/" 
                class="link link-primary">Check out the Interpretor!
                </a>
                <br>
                <br>
                <a href="https://github.com/Sameony/React" 
                class="link link-secondary margin-top">View Source Code!
                </a>
        </div>    
    </section>

    <!-- Fourth project -->

    <section class=" ow ">
        
            
                
        <div class='container container-center padding-md'>
            <h1>An English to Yoda Translator!</h1>
                <small>September 2021</small>
                
                <p>May the force be with you on your fun journey to learn yodish!
                </p>

                <a href="https://yoda-like-speak.netlify.app/" 
                class="link link-primary">Check out the Translator!
                </a>
                <br>
                <br>
                <a href="https://github.com/Sameony/Yodify_thy_english" 
                class="link link-secondary">View Source Code!
                </a>
            
        </div>
    </section>

    

    <!--Third project -->


    <section>
        <div class="container container-center padding-md">
            <h1>English to minions language translator!</h1>
                <small>September 2021</small>
                
                <p>Did you know minions language is actually a thing? 
                    Now that you know, would you like to try it out?
                </p>

                <a href="https://bonanaaa.netlify.app/" 
                class="link link-primary">Check out the Translator!
                </a>
                <br>
                <br>
                <a href="https://github.com/Sameony/Bonana" 
                class="link link-secondary margin-top">View Source Code!
                </a>
        </div>    
    </section>

    <!-- Second project -->

    <section class="ow">
        <div class="container container-center padding-md">
            <h1>A Multi-Level Cricket Quiz!!</h1>
                <small>September 2021</small>
                
                <p>A CLI app built with Node.js. You can send it to 
                    your friends and find out how much they know 
                    about Cricket! Can you clear all 3 levels with perfect scores?
                </p>

                <a href="https://replit.com/@SamSaysHecc/CricketQuiz" 
                class="link link-primary">Play The Game!
                </a>
                <br>
                <br>
                <a href="https://github.com/Sameony/Mark2_Cricket_Quiz" 
                class="link link-secondary margin-top">View Source Code!
                </a>
        </div>    
    </section>



    <!-- First project -->

    <section>
            <div class="container container-center padding-md">
                <h1>Know me Better with a Quiz!</h1>
                    <small>September 2021</small>
                    
                    <p>A CLI app built with Node.js. Are you a friend
                        who notices the minor and dumb details about me?
                        Then Come and give this quiz a try!
                    </p>

                    <a href="https://replit.com/@SamSaysHecc/Know-me-better" 
                    class="link link-primary">Play The Game!
                    </a>
                    <br>
                    <br>
                    <a href="https://github.com/Sameony/SecondQuizButItsOnMeAsWell" 
                    class="link link-secondary margin-top">View Source Code!
                    </a>
            </div>    
    </section>
                
                
                
            
        
    

    

    <footer class="footer">
        <div class="footer-header">Social Media Links</div>
        <ul class="social-links list-non-bullet">
            <li class="list-item-inline">
                <a class="link" href="https://github.com/Sameony">
                    Github
                </a>
            </li>
            <li class="list-item-inline">
                <a class="link" 
                href="https://www.linkedin.com/in/mohammed-sameer-786485219/">
                    Linkedin
                </a>
            </li>
            
        </ul>
    </footer>
</body>
</html>