<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link href="/Css/styles.css" rel="stylesheet" />
    <link rel="icon" href="/Images/mycofavi.ico">
</head>

<body>

    <nav class="navigation container">
        <div class="nav-brand">I am a Developer!</div>
        <ul class="list-non-bullet nav-pills">
            <li class="list-item-inline">
                <a class="link largify" href="/index.html">Home</a>
            </li>
            <li class="list-item-inline">
                <a class="link link-active" href="Projects.html">Projects</a>
            </li>
            <li class="list-item-inline">
                <a class="link largify" href="Blogs.html">Blogs</a>
            </li>
        </ul>
    </nav>




    <header class="hero">
        <img class="hero-img" src="/Images/Projects.svg" />
        <h1 class="hero-heading">A list of <span class="heading-inverted">My Projects</span></h1>
    </header>



    <!-- 12th proj -->
    <section class="ow">
        <div class="container container-center padding-md">
            <h1>Component Library</h1>
            <small>February 2022</small>

            <p>
                Its a pure CSS component library, using which you can create clean and reusable components on the go.
                All you need to do is import the CSS file through the link provided below, and give appropiate class
                names to your HTML elements, as specified in the documentation website and voila! your components are
                ready to use.
            </p>

            <a target="_blank" href="https://mirinda-mewi.netlify.app/" class="link link-primary">Yes, show me
            </a>
            <br>
            <br>
            <a target="_blank" href="https://github.com/Sameony/MirindaUI" class="link link-primary margin-top">View
                Source Code
            </a>
        </div>
    </section>

    <!-- Eleventh and final mark14 project -->


    <section>



        <div class='container container-center padding-md'>
            <h1>Stocks profit or loss calculator</h1>
            <small>September 2021</small>

            <p>Check out if the stocks you bought have brought you fortune or curse
            </p>

            <a target="_blank" href="https://calculate-thy-stocks.netlify.app/" class="link link-secondary">Check it out
            </a>
            <br>
            <br>
            <a target="_blank" href="https://github.com/Sameony/Stocks_calci" class="link link-secondary">View Source
                Code
            </a>

        </div>
    </section>



    <!-- Tenth Project -->



    <section class="ow">
        <div class="container container-center padding-md">
            <h1>Palindrome birthday</h1>
            <small>September 2021</small>

            <p> Is your birthday a palindrome? You don't know if your
                birthday is a palindrome?
                Then, Would you like to know?
            </p>

            <a target="_blank" href="https://palindromic-hecc.netlify.app/" class="link link-primary">Yes, show me
            </a>
            <br>
            <br>
            <a target="_blank" href="https://github.com/Sameony/PalindromeBday"
                class="link link-primary margin-top">View Source Code
            </a>
        </div>
    </section>


    <!-- Ninth project -->

    <section>



        <div class='container container-center padding-md'>
            <h1>Is your birthday lucky though?</h1>
            <small>September 2021</small>

            <p>Created a fun website that tells you whether or not your
                birthday is lucky for you based on your lucky number!

            </p>

            <a target="_blank" href="https://lucky-bday-much.netlify.app/" class="link link-secondary">Give it a go!!
            </a>
            <br>
            <br>
            <a target="_blank" href="https://github.com/Sameony/Lucky-Birthday" class="link link-secondary">View Source
                Code!
            </a>

        </div>
    </section>


    <!-- Eigth Project -->


    <section class=" ow ">



        <div class='container container-center padding-md'>
            <h1>Fun With Triangles</h1>
            <small>September 2021</small>

            <p> Do you know how amazing the shape of three-angles is?
                Come check it out!
            </p>

            <a target="_blank" href="https://three-angle-fun.netlify.app/" class="link link-primary">Check it out!!
            </a>
            <br>
            <br>
            <a target="_blank" href="https://github.com/Sameony/ThreeAngles" class="link link-primary">View Source Code!
            </a>

        </div>
    </section>



    <!-- Seventh project -->


    <section>
        <div class="container container-center padding-md">
            <h1>Cash Register</h1>
            <small>September 2021</small>

            <p>Enter your bill amount, the amount of cash you gave and
                we will tell you the minimum amount of notes required
                to cover the change!
            </p>

            <a target="_blank" href="https://cash-register-of-sam.netlify.app/" class="link link-secondary">Check out
                The Cash register!
            </a>
            <br>
            <br>
            <a target="_blank" href="https://github.com/Sameony/Cash_Register"
                class="link link-secondary margin-top">View Source Code!
            </a>
        </div>
    </section>



    <!-- Sixth Project -->

    <section class=" ow ">



        <div class='container container-center padding-md'>
            <h1>My Anime recommendations!</h1>
            <small>September 2021</small>

            <p>Created a responsive reacts.js website and listed my recommendations in it.

            </p>

            <a target="_blank" href="https://csb-wc32j.netlify.app/" class="link link-primary">Give them a go!!
            </a>
            <br>
            <br>
            <a target="_blank" href="https://github.com/Sameony/Recommendation" class="link link-primary">View Source
                Code!
            </a>

        </div>
    </section>



    <!-- Fifth project -->


    <section>
        <div class="container container-center padding-md">
            <h1>Emoji Interpretor</h1>
            <small>September 2021</small>

            <p>Did you ever see an emoji and feel out of the loop?
                "Damn, what is that? what could it possibly mean?"
                Fear no more, We...will try our best, to have your back!
            </p>

            <a target="_blank" href="https://csb-grij4.netlify.app/" class="link link-secondary">Check out the
                Interpretor!
            </a>
            <br>
            <br>
            <a target="_blank" href="https://github.com/Sameony/React" class="link link-secondary margin-top">View
                Source Code!
            </a>
        </div>
    </section>

    <!-- Fourth project -->

    <section class=" ow ">



        <div class='container container-center padding-md'>
            <h1>An English to Yoda Translator</h1>
            <small>September 2021</small>

            <p>May the force be with you on your fun journey to learn yodish!
            </p>

            <a target="_blank" href="https://yoda-like-speak.netlify.app/" class="link link-primary">Check out the
                Translator!
            </a>
            <br>
            <br>
            <a target="_blank" href="https://github.com/Sameony/Yodify_thy_english" class="link link-primary">View
                Source Code!
            </a>

        </div>
    </section>



    <!--Third project -->


    <section>
        <div class="container container-center padding-md">
            <h1>English to minions language translator</h1>
            <small>September 2021</small>

            <p>Did you know minions language is actually a thing?
                Now that you know, would you like to try it out?
            </p>

            <a target="_blank" href="https://bonanaaa.netlify.app/" class="link link-secondary">Check out the
                Translator!
            </a>
            <br>
            <br>
            <a target="_blank" href="https://github.com/Sameony/Bonana" class="link link-secondary margin-top">View
                Source Code!
            </a>
        </div>
    </section>

    <!-- Second project -->

    <section class="ow">
        <div class="container container-center padding-md">
            <h1>A Multi-Level Cricket Quiz</h1>
            <small>September 2021</small>

            <p>A CLI app built with Node.js. You can send it to
                your friends and find out how much they know
                about Cricket! Can you clear all 3 levels with perfect scores?
            </p>

            <a target="_blank" href="https://replit.com/@SamSaysHecc/CricketQuiz" class="link link-primary">Play The
                Game!
            </a>
            <br>
            <br>
            <a target="_blank" href="https://github.com/Sameony/Mark2_Cricket_Quiz"
                class="link link-primary margin-top">View Source Code!
            </a>
        </div>
    </section>



    <!-- First project -->

    <section>
        <div class="container container-center padding-md">
            <h1>Know me Better with a Quiz</h1>
            <small>September 2021</small>

            <p>A CLI app built with Node.js. Are you a friend
                who notices the minor and dumb details about me?
                Then Come and give this quiz a try!
            </p>

            <a target="_blank" href="https://replit.com/@SamSaysHecc/Know-me-Better?v=1"
                class="link link-secondary">Play The Game!
            </a>
            <br>
            <br>
            <a target="_blank" href="https://github.com/Sameony/SecondQuizButItsOnMeAsWell"
                class="link link-secondary margin-top">View Source Code!
            </a>
        </div>
    </section>









    <footer class="footer">
        <div class="footer-header">Social Media Links</div>
        <ul class="social-links list-non-bullet">
            <li class="list-item-inline">
                <a class="link easeit" target="_blank" href="https://github.com/Sameony">
                    <img src="/Images/git.svg" alt="icon-github">
                </a>
            </li>
            <li class="list-item-inline">
                <a class="link easeit" target="_blank" href="https://www.linkedin.com/in/mohammed-sameer-786485219/">
                    <img src="/Images/linkedin-2.png" alt="Icon-linkedin">
                </a>
            </li>
            <li class="list-item-inline">
                <a class="link easeit" target="_blank" href="https://twitter.com/Sameony1">
                    <img src="/Images/twitter.svg" alt="Icon-twitter">
                </a>
            </li>

        </ul>
    </footer>
</body>

</html>